/* Variáveis */
:root {
    --bottom-color: #F3F3F3;
    --header-color: #1e1e1e;
    --marquee-color: #F3F3F3;
    --font-1: 'Roboto', sans-serif;
    --text-color: #f3f3f3;
    --color-card: #A1A1A1;
}

/* Resetando o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bottom-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 7.5rem;
    background-color: var(--header-color);
    position: fixed;
    top: 0; /* Garante que o cabeçalho fique no topo */
    left: 0;
    z-index: 1000; /* Garante que o cabeçalho ficará acima de outros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para dar um efeito de sobreposição */
}

/* Estilo para o container do marquee */
.marquee-container {
    width: 100%;
    height: 1.7rem;
    overflow: hidden; /* Esconde o texto fora da área visível */
    position: relative;
    background-color: #424242;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para o texto que vai se mover */
.marquee-text {
    position: absolute;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    font-size: 24px;
    color: var(--font-1);
    animation: marquee 15s linear infinite; /* Aplica a animação */
    font-size: 15px;
    color: var(--text-color);
    font-family: var(--font-1);
    font-weight: 600;
}

/* Definindo a animação do texto */
@keyframes marquee {
    0% {
        left: 100%; /* Começa fora da tela à direita */
    }
    100% {
        left: -100%; /* Termina fora da tela à esquerda */
    }
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Opcional: para centralizar o conteúdo */
    text-decoration: none;
    color: var(--text-color);
}

.header-container ul {
    list-style: none; /* Remove as bolinhas */
    padding-left: 0; /* Remove o padding à esquerda */
    margin: 0; /* Remove margens extras, caso existam */
}

.texts-header {
    width: 39%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-1);
    margin-left: 5rem;
    gap: 0.4rem;
}

.header-nav {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    justify-content: flex-end;
    margin-right: 5rem;
}

.header-nav li {
    display: inline;
}

.header-nav a {
    text-decoration: none;
    color: var(--text-color);
    margin: 5rem;
    font-family: var(--font-1);
    font-weight: 700;
}

/* Estilo para sessão de redes */
.my-networks-container {
    margin: 9rem 1rem;    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /* Dividindo a tela em três colunas de tamanhos iguais */
    grid-template-rows: auto auto; /* Duas linhas */
    grid-template-areas: 
        "left top right"
        "left bottom right"; /* Organizando a área da grid */
    gap: 5px; /* Menor espaçamento entre os itens */
    justify-items: center; /* Centralizando os itens na horizontal */
    align-items: center; /* Centralizando os itens na vertical */
}

/* Animação de flutuação */
@keyframes floating {
    0% {
        transform: translateY(0); /* Posição inicial */
    }
    50% {
        transform: translateY(-10px); /* Subir 10px */
    }
    100% {
        transform: translateY(0); /* Voltar para a posição inicial */
    }
}

.large-card {
    background-color: var(--color-card);
    margin: 1rem;  /* Margem mais estreita */
    height: 25rem; /* Ajuste para tamanho proporcional */
    width: 15rem;  /* Ajuste para tamanho proporcional */
    animation: floating 2s ease-in-out infinite; /* Aplicando a animação */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: var(--color-card);
    width: 25rem;  /* Tornando a largura igual ao 'large-card' */
    height: 11rem; /* Tornando a altura igual ao 'large-card' para ficarem alinhados */
    animation: floating 2s ease-in-out infinite; /* Aplicando a animação */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Associando as áreas de grid */
.large-card:nth-child(1) {
    grid-area: left;
}

.large-card:nth-child(4) {
    grid-area: right;
}

.contact-section {
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dividindo a tela em três colunas de tamanhos iguais */
    grid-template-rows: auto auto; /* Duas linhas */
    grid-template-areas: 
        "left top right"
        "left bottom right"; /* Organizando a área da grid */
    gap: 10px; /* Menor espaçamento entre os itens */
    justify-items: center; /* Centralizando os itens na horizontal */
    align-items: center; /* Centralizando os itens na vertical */
}

/* Animação de flutuação */
@keyframes floating {
    0% {
        transform: translateY(0); /* Posição inicial */
    }
    50% {
        transform: translateY(-10px); /* Subir 10px */
    }
    100% {
        transform: translateY(0); /* Voltar para a posição inicial */
    }
}

/* Estilo comum para todos os cards */
.contact-large-card {
    background-color: var(--color-card);
    margin: 1rem;  /* Margem mais estreita */
    height: 25rem; /* Ajuste para tamanho proporcional */
    width: 95%; /* Tornando os cards do mesmo tamanho */
    animation: floating 2s ease-in-out infinite; /* Aplicando a animação */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Associando as áreas de grid */
.contact-large-card:nth-child(1) {
    grid-area: left;
}

.contact-card:nth-child(2) {
    grid-area: top;
}

.contact-card:nth-child(3) {
    grid-area: bottom;
}

.contact-large-card:nth-child(4) {
    grid-area: right;
}

/* Estilo do Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer .social-links {
    margin-top: 10px;
}

.footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.footer .social-links a:hover {
    text-decoration: underline;
}

.card-image {
    width: 10rem;
    height: auto;
    object-fit: cover;
}

#message {
    display: none;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#message a {
    display: block;
    color: #007BFF;
    margin: 10px 0;
    text-decoration: none;
}